table{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: bisque;
}
.chessboard{
    border: solid red 1px;
    height: 400px;
    width:400px;
    background-color: aqua;
}

.blackbox{
    width: 50px;
    height: 50px;
    background-color: black;
border-radius: 50%;

}
.whitebox{
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;

}
.DivChessBoard{float: left}